@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@400;700&family=Lato:wght@400;700&family=Roboto:wght@300;400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

header {
  padding: 2em 2rem;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav .logo {
  width: 8%;
}

.request-n-inventory {
  display: flex;
}

.request-n-inventory a + a {
  margin-left: 1rem;
}

.request-n-inventory a {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: bold;
  color: black;
  text-decoration: none;
}

.request-n-inventory a.active {
    color: green;
}

.emp-details__container {
  display: flex;
  justify-content: space-between;
  width: 200px;
}

.emp-details {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  text-align: right;
}

.emp-name {
  font-size: 1.2rem;
  font-weight: bold;
}

.emp-department,
.emp-role {
  font-size: 1rem;
  font-family: "Barlow", sans-serif;
  color: hsla(0, 0%, 34%, 1);
}

.logout {
  display: flex;
  justify-content: flex-end;
  gap: 5px;
  align-items: center;
}

.logout a {
  font-family: "Barlow", sans-serif;
  color: hsla(0, 0%, 34%, 1);
  text-decoration: none;
}

.logout:hover {
  cursor: pointer;
}

.emp-display_img {
  width: 55px;
  height: 55px;
  border-radius: 50%;
}

.emp-display_img i {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-size: 4.5rem;
}

main {
  display: flex;
}

.request {
  display: flex;
  flex-direction: column;
  gap: 3em;
  width: 60%;
  margin: 1em 5em;
}

.request-header h1 {
  font-family: "Barlow", sans-serif;
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.request-header p {
  font-family: "Lato", sans-serif;
  font-size: 1rem;
  color: rgb(93, 93, 93);
}

form {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.asset-info input {
  font-size: 1rem;
  font-family: "Lato", sans-serif;
  width: 70%;
  padding: 1em 0.25em;
  outline: none;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid black;
}

.asset-info textarea {
  font-size: 1rem;
  font-family: "Lato", sans-serif;
  width: 70%;
  padding: 1em 0.25em;
  outline: none;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid black;
  resize: none;
}

.submit-request input {
  font-family: "Barlow", sans-serif;
  font-size: 1.3rem;
  color: white;
  text-transform: uppercase;
  width: 70%;
  padding: 0.5em 0;
  background: black;
  border-radius: 5px;
}

.vl {
  height: 70vh;
  border: 1px solid gray;
}

.request-history {
  width: 40%;
  margin: 2em 4em;
}

.history {
  display: flex;
  align-items: center;
}

.history h1 {
  font-family: "Barlow", sans-serif;
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.request-list_container {
  padding: 1em 0 0 1em;
}

ul {
  list-style-type: none;
}

ul li {
  font-family: "Barlow", sans-serif;
}

ul li + Li {
  margin-top: 1em;
}

.approved {
  background-image: url("img/✅.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  padding-left: 1.5rem;
}

.declined {
  background-image: url("img/❌.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  padding-left: 1.5rem;
}

/* 
font-family: 'Barlow', sans-serif;
font-family: 'Roboto', sans-serif; */
