@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@400;700&family=Lato:wght@400;700&family=Roboto:wght@300;400;500;700&display=swap");

.asset-list {
    width: 60%;
    margin: 1em 5em;
  }
  
  .available-assets h1 {
    font-family: "Barlow", sans-serif;
    font-size: 2.5rem;
    margin-bottom: 1rem;
  }
  
  .available-assets input {
    font-size: 1rem;
    font-family: "Lato", sans-serif;
    width: 70%;
    padding: 0.5em 0.25em;
    outline: none;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid black;
  }
  
  .item-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    margin-top: 1.75rem;
  }
  
  .items {
    display: flex;
    flex-direction: column;
    gap: .5em;
    width: 40%;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .item {
    font-size: 1rem;
    font-family: "Lato", sans-serif;
    font-weight: bold;
  }
  
  .description  {
    font-size: 1rem;
    font-family: "Barlow", sans-serif;
    margin-left: .25em;
    
  }
  
  .serial-number {
      display: flex;
      gap: .25em;
  }
  
  .serial-header {
    font-size: 1rem;
    font-family: "Lato", sans-serif;
    font-weight: bold;
  }
  
  
  .item-serial_no {
    font-size: 1rem;
    font-family: "Barlow", sans-serif;
    margin-left: .25em;
  }